:root {
  --primary-text-color: #947848;
  --footer-background: #f5f5f1;
  --paragraph-color: #b4a388;
}

body {
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-snap-align: start;
  width: 100%;
  height: 100vh;
  scroll-behavior: smooth;
  margin: 0;
  font-family: "Libre Baskerville", serif;
  margin: 0;
  cursor: pointer;
}
.first-section-home {
  background-image: url("images/new-home-bg.jpg");
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-position: center;
}
.home-nav {
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 15px;
  position: fixed;
  top: 0;
  width: 100%;
}
.logo-name {
  font-size: 40px;
  color: var(--primary-text-color);
  margin-top: 25px;
  font-weight: 700;
}
.cursive {
  font-family: "Parisienne", cursive;
}
.right-menu {
  padding-right: 20px;
}
.nav-list {
  list-style: none;
  display: flex;

  margin-top: 30px;
}
.home-li {
  font-size: 18px;
  padding: 10px;
  color: var(--primary-text-color);
  font-weight: 600;
  line-height: 44px;
}
.home-links {
  color: var(--primary-text-color);
  text-decoration: none;
  cursor: grab;
}
.overview-container {
  background-color: white;
  width: 100%;
  height: 100vh;
  scroll-snap-align: start;
  padding-top: 60px;
  text-align: center;
}
.welcome-text {
  color: var(--primary-text-color);
  text-align: center;
  font-size: 38px;
  margin-bottom: 0;
  font-family: "Parisienne", cursive;
}
.cafe-name {
  text-align: center;
  font-size: 46px;
  color: var(--primary-text-color);
  margin-bottom: 15px;
  margin-top: 5px;
}
.cafe-descrip {
  text-align: center;
  color: var(--primary-text-color);
  font-size: 14px;
}
.columns-container {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  margin-top: 40px;
  padding-bottom: 20px;
}
.column-heading {
  color: var(--primary-text-color);
  font-size: 19px;
}
.column-descrip {
  color: var(--paragraph-color);
  font-size: 14px;
}
.colum-1 {
  padding: 20px;
}
.icons-home {
  position: relative;
  display: inline-block;
  transition: transform 0.3s ease;
}

.icons-home::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px; /* Adjust the position as needed */
  width: 100%;
  height: 2px; /* Adjust the height of the underline as needed */
  background-color: black; /* Adjust the color of the underline as needed */
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease;
}

.icons-home:hover {
  transform: scale(1.2); /* Scale up the image slightly to bring it forward */
}

.icons-home:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
