:root {
  --primary-text-color: #947848;
  --footer-background: #f5f5f1;
  --paragraph-color: #b4a388;
  --menu-bg: #ebe6e8;
}

body {
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-snap-align: start;
  width: 100%;
  height: 100vh;
  scroll-behavior: smooth;
  margin: 0;
  font-family: "Libre Baskerville", serif;
  margin: 0;
  cursor: pointer;
}
.first-section-home {
  background-image: url("images/front-bg.jpg");
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-position: center;
}
.home-nav {
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 15px;
  position: fixed;
  top: 0;
  width: 100%;
}
.logo-name {
  font-size: 40px;
  color: var(--primary-text-color);
  margin-top: 25px;
  font-weight: 700;
}
.cursive {
  font-family: "Parisienne", cursive;
}
.right-menu {
  padding-right: 20px;
}
.nav-list {
  list-style: none;
  display: flex;

  margin-top: 30px;
}
.home-li {
  font-size: 18px;
  padding: 10px;
  color: var(--primary-text-color);
  font-weight: 600;
  line-height: 44px;
}
.home-welcome {
  text-align: center;
  padding-top: 250px;
  font-size: 70px;
  color: white;
  font-weight: 700;
  font-family: "Parisienne", cursive;
}
.home-links {
  color: var(--primary-text-color);
  text-decoration: none;
  cursor: grab;
}
.overview-container {
  background-color: white;
  width: 100%;
  height: 100vh;
  scroll-snap-align: start;
  padding-top: 60px;
  text-align: center;
}
.welcome-text {
  color: var(--primary-text-color);
  text-align: center;
  font-size: 38px;
  margin-bottom: 0;
  font-family: "Parisienne", cursive;
}
.cafe-name {
  text-align: center;
  font-size: 46px;
  color: var(--primary-text-color);
  margin-bottom: 15px;
  margin-top: 5px;
}
.cafe-descrip {
  text-align: center;
  color: var(--primary-text-color);
  font-size: 14px;
}
.columns-container {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  margin-top: 40px;
  padding-bottom: 30px;
}
.column-heading {
  color: var(--primary-text-color);
  font-size: 19px;
}
.column-descrip {
  color: var(--paragraph-color);
  font-size: 14px;
}
.colum-1 {
  padding: 20px;
}
.icons-home {
  position: relative;
  display: inline-block;
  transition: transform 0.3s ease;
}

.icons-home::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px; /* Adjust the position as needed */
  width: 100%;
  height: 2px; /* Adjust the height of the underline as needed */
  background-color: black; /* Adjust the color of the underline as needed */
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease;
}

.icons-home:hover {
  transform: scale(1.2); /* Scale up the image slightly to bring it forward */
}

.icons-home:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.location-home {
  padding: 10px 20px;
  border: 2px solid var(--primary-text-color);
  background-color: white;
  border-radius: 7px;
  transition: all 0.3s ease-in-out;
}

.location-home {
  font-size: 14px;
  font-weight: 500;
  font-family: "Libre Baskerville", serif;
  color: var(--primary-text-color);
  cursor: grabbing;
}

.location-home:hover {
  color: white;
  background-color: var(--primary-text-color);
}
.tradition {
  background-color: white;
  width: 100%;
  height: 100vh;
  scroll-snap-align: start;
  padding-top: 50px;
  text-align: center;
}
.tradition-container {
  display: flex;
  justify-content: space-evenly;
}
.original-text {
  font-size: 36px;
  font-family: "Parisienne", cursive;
  color: var(--primary-text-color);
}
.tradition-text {
  font-size: 42px;
  color: var(--primary-text-color);
  margin-bottom: 20px;
}
.dark-text {
  font-size: 14px;
  color: var(--primary-text-color);
  margin-top: 20px;
  margin-bottom: 15px;
}
.gold-text {
  color: var(--paragraph-color);
  margin-bottom: 40px;
}
.left {
  padding-top: 20px;
}
.bird-icon {
  margin-top: 15px;
  margin-bottom: 15px;
}
.review {
  background-color: white;
  width: 100%;
  height: 100vh;
  scroll-snap-align: start;

  text-align: center;
}
.customer-review {
  color: var(--primary-text-color);
  font-size: 35px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.quote-text {
  color: var(--paragraph-color);
  padding-bottom: 30px;
  font-size: 17px;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: 0px;
}
.qoute-image {
  margin-bottom: 30px;
  margin-top: 20px;
}
.name-reviewer {
  color: var(--primary-text-color);
  font-family: "Parisienne", cursive;
  font-size: 30px;
  font-weight: 600;
}
.spend-time {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(images/front-bg.jpg);
  background-size: cover;
  width: 100%;
  background-position: center;

  padding-top: 60px;
  padding-left: 53px;
  padding-right: 53px;
  padding-bottom: 40px;
}
.spend-text {
  font-size: 40px;
  color: white;
}
footer {
  background-color: var(--footer-background);
  padding: 40px;
}
.footer-head {
  font-size: 20px;
  color: var(--primary-text-color);
}
.footer-list-container {
  display: flex;
  color: var(--paragraph-color);
}
ul {
  list-style: square;
  padding: 5px;
  margin: 10px;
}
li {
  font-size: 13px;
  padding: 5px;
}
.footer-img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: center;
}
.img-text-container {
  display: flex;
  justify-content: right;
}
.footer-container {
  display: flex;
  justify-content: space-between;
}
.image {
  padding: 20px;
}
.foot-text {
  margin-top: 8px;
  color: var(--paragraph-color);
  font-size: 12px;
}

.menu-heading {
  text-align: center;
  padding-top: 150px;
  padding-bottom: 50px;
  margin: 0;
  background-color: var(--menu-bg);
  font-size: 40px;
  font-family: "Libre Baskerville", serif;
  color: var(--primary-text-color);
}
.menu-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.pie-text {
  background-image: url(menu-pics/pie-pic.jpg);
  background-size: cover;
  width: 100%;
  background-position: center;
  width: 350px;
  height: 320px;
  text-align: center;
  align-content: center;
  color: var(--primary-text-color);
  font-size: 40px;
  font-weight: 700;
}
.cake-text {
  background-image: url(menu-pics/cake.jpg);
  background-size: cover;
  width: 100%;
  background-position: center;
  width: 350px;
  height: 350px;
  text-align: center;
  align-content: center;
  color: var(--primary-text-color);
  font-size: 40px;
  font-weight: 700;
}
.price-1 {
  margin-bottom: 70px;
  color: var(--primary-text-color);
  font-size: 30px;
}
.price-2 {
  margin-bottom: 100px;
  color: var(--primary-text-color);
  font-size: 30px;
  margin-top: 80px;
}
.price-3 {
  color: var(--primary-text-color);
  font-size: 30px;
}
.col-sub {
  margin-bottom: 0;
  color: var(--primary-text-color);
  font-size: 30px;
}
.col-text {
  color: var(--paragraph-color);
  font-size: 14px;
}
.line {
  height: 2px;
  width: 100%;
  background-color: var(--paragraph-color);
  margin-top: 20px;
  margin-bottom: 20px;
}
.galler-container {
  display: flex;
  justify-content: space-evenly;
}
.right-container {
  text-align: center;
}
.gallery-heading {
  color: var(--primary-text-color);
  font-family: "Parisienne", cursive;
}
.gallery-darktext {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
}
.gallery-lighttext {
  color: var(--paragraph-color);
  font-size: 14px;
  font-weight: lighter;
}
.right-container {
  margin-top: 20px;
  margin-bottom: 40px;
}
.image-right-contain img {
  width: 250px;
  height: 230px;
  object-fit: cover;
  object-position: center;
  padding: 10px;
  border: 3px solid #f8f8f8;
  transition: all 0.3s ease-in-out;
}
.image-right-contain img:hover {
  opacity: 0.5;
}
.location-mini {
  display: flex;
}
.right-lo {
  padding: 10px;
}
.locatio-container {
  display: flex;
  justify-content: space-between;
}
.right-locatio {
  margin-left: 40px;
}
.right-location {
  margin-right: 90px;
  margin-bottom: 20px;
}
.location-heading {
  color: var(--primary-text-color);
  font-size: 40px;
  margin-bottom: 5px;
}
.right-lo {
  margin-top: 5px;
  color: var(--primary-text-color);
}
.text {
  border-right: 2px solid var(--primary-text-color);
}
.info-text {
  color: var(--paragraph-color);
  font-size: 14px;
  padding: 10px;
}
